# Clerk Authentication
CLERK_ACTIVE_ORGANIZATION_ID="your_organization_id"
CLERK_SECRET_KEY="your_clerk_secret_key"
NEXT_PUBLIC_CLERK_ACTIVE_SLUG="your_clerk_slug"
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY="your_clerk_publishable_key"
NEXT_PUBLIC_CLERK_SIGN_IN_URL="/sign-in"
NEXT_PUBLIC_CLERK_SIGN_UP_URL="/sign-up"

# Instagram API
INSTAGRAM_API_URL="https://graph.instagram.com"

# Database Configuration
POSTGRES_DATABASE="your_database_name"
POSTGRES_HOST="your_postgres_host"
POSTGRES_PASSWORD="your_postgres_password"
POSTGRES_USER="your_postgres_user"
POSTGRES_PRISMA_URL="postgres://user:password@host/database?pgbouncer=true&connect_timeout=15&sslmode=require"
POSTGRES_URL="postgres://user:password@host/database?sslmode=require"
POSTGRES_URL_NON_POOLING="postgres://user:password@host/database?sslmode=require"
POSTGRES_URL_NO_SSL="postgres://user:password@host/database"